html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
@media screen {
  body {
    background: #f8f8f8;
    line-height: 1.6;
    padding: 2rem;
    font-size: 1.6em;
  }
}
@media print {
  body {
    font-size: 1.1em;
    line-height: 1.5;
    overflow: visible;
  }
}
@page {
  size: auto;
  bleed: 0;
}
a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
a:hover {
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #999;
}
h1 {
  color: #222;
}
@media screen {
  h1 {
    font-size: 3.2rem;
  }
}
@media print {
  h1 {
    font-size: 2.2rem;
  }
}
@media screen {
  h2 {
    font-size: 2.6rem;
  }
}
@media print {
  h2 {
    font-size: 1.6rem;
  }
}
h3 {
  text-transform: uppercase;
  color: #5b95ff;
}
@media screen {
  h3 {
    font-size: 2.2rem;
  }
}
@media print {
  h3 {
    font-size: 1.2rem;
  }
}
section {
  margin-bottom: 2rem;
}
.fa {
  vertical-align: text-bottom;
  padding: 0 0.5rem;
  line-height: 1.45em;
}
@media print {
  .page-break {
    page-break-before: always;
  }
}
.pure-g {
  margin: 0 -1rem;
}
.pure-g [class *="pure-u"] {
  font-family: 'Open Sans', sans-serif;
  padding: 0 1rem;
  box-sizing: border-box;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
}
@media print {
  .container {
    padding: 0;
    display: inline-block;
  }
}
@media screen {
  .container {
    background: #fff;
    box-shadow: 0 0 6rem rgba(0,0,0,0.02);
    max-width: 120rem;
    padding: 2rem;
  }
@media (min-width: 600px) {
    .container {
      padding: 0.5in;
    }
}
}
header {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 2rem;
}
@media screen {
  header {
    padding: 4rem 0 6rem;
  }
}
@media print {
  header {
    padding-bottom: 3rem;
  }
}
header h1,
header h2 {
  margin: 0;
}
header h2 {
  margin-bottom: 2.5rem;
}
header a {
  display: inline-block;
  margin: 0 1rem;
  color: #666;
}
header a i {
  color: #ddd;
}
.partial-tech ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.partial-tech li {
  display: inline-block;
  padding-right: 0.2rem;
}
.partial-tech li:nth-child(odd) {
  color: #555;
}
.partial-tech li:nth-child(even) {
  color: #999;
}
.partial-experience .job {
  margin-bottom: 4rem;
  padding: 0 1.5rem;
  border-left: 1px solid #f1f1f1;
}
.partial-experience .position {
  font-weight: bold;
}
.partial-experience .company {
  display: inline-block;
  padding-right: 0.5rem;
}
.partial-experience .date {
  color: #999;
  display: inline-block;
}
.partial-experience .project {
  margin: 2rem 0 0.5rem;
}
.partial-experience .project .title {
  color: #5b95ff;
  display: inline-block;
  padding-right: 1rem;
}
.partial-experience .project .tech {
  font-style: italic;
  display: inline-block;
  color: #999;
}
@media print {
  .snapshot-profile {
    width: 62.5%;
  }
  .snapshot-tech {
    width: 37.5%;
  }
}
.education,
.education .job {
  margin-bottom: 0;
}
