:local .App {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
  flex-direction: column;
}


/*
  BREAKPOINT: iPad
*/
@media (min-width: 768px) {
  :local .App {
    text-align: left;
    padding: 4em;
  }
}

/*
  BREAKPOINT: Desktop
*/
@media (min-width: 1280px) {
  :local .App {
    flex-direction: row;
  }
}
