.Tech ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Tech li {
  display: inline-block;
  padding-right: 0.5rem;
}

.Tech li:nth-child(odd) {
  color: #555;
}

.Tech li:nth-child(even) {
  color: #999;
}
