* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #666;
  line-height: 1.66em;
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 4.8rem;
  color: #222;
  margin: 1em 0 0.8em -0.05em;
}

h2 {
  font-size: 3.6rem;
  color: #5B95FF;
  margin-bottom: 1.2em;
}

ins {
  color: #999;
}

strong {
  color: #222;
  font-weight: normal;
}

a {
  color: #333;
}

a, a * {
  transition: color 0.4s, text-shadow 0.4s;
  text-decoration: none;
}

a:hover, a:hover * {
  color: #5B95FF;
}

section {
  margin-bottom: 6em;
}
