.partial-experience
  .job
    margin-bottom: 4rem
    padding: 0 1.5rem
    border-left: 1px solid #f1f1f1

  .position
    font-weight: bold

  .company
    display: inline-block
    padding-right: 0.5rem

  .date
    color: #999
    display: inline-block

  .project
    margin: 2rem 0 0.5rem


    .title
      color: $light-blue
      display: inline-block
      padding-right: 1rem

    .tech
      font-style: italic
      display: inline-block
      color: #999
